
@import "_grid.scss";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

// Hello component

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: palevioletred;
    text-decoration: none;
  }

  button {
    background: #fff;
    padding: 5px 10px;
    border: 2px solid palevioletred;
    border-radius: 2px;
    color: palevioletred;
    font-size: 14px;
  }

//thumbnail

.thumbnail {
  padding: 20px;
  background: #f0f0f0;
  border-radius: 2px;
}

.thumbnail__img {
  width: 100%;
}

// upvote component

.upvote__btn {
    border: 0;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
}

.upvote__total {
    font-weight: bold;
    width: 50%;
    float: left; 
    margin-top: 7px;
}